.jumbotron {
  padding-top: 6rem;
  background-color: rgb(208, 191, 224);
}

#Hobby {
  background-color: rgb(208, 191, 224);
}
#Contact {
  background-color: rgb(208, 191, 224);
}
.footer {
  background-color: rgb(176, 122, 227);
}
section {
  padding-top: 5rem;
}
